body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(4,6,46,1);
}

.bas-section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-title {
  margin-bottom: 24px;
  font-size: 36px !important;
  text-align: center;
  font-weight:500;
  line-height:60px;
  letter-spacing:1px;
}

.bas-pt-100 {
  padding-top: 100px;
}

.bas-light-gray {
  background:rgba(245,246,246,1);
}

/* container */
@media (min-width: 1900px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1500px;
  }
}

