html,body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  font-size:16px;
  line-height: 1.2rem;
  color: rgba(4,6,46,1);
}

h5,.h5 {
  font-size: 1.125rem;
}

.bas-section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-title {
  margin-bottom: 24px;
  font-size: 32px !important;
  text-align: center;
  font-weight:500;
  line-height:60px;
  letter-spacing:1px;
}

.bas-pt-100 {
  padding-top: 70px;
}

.bas-light-gray {
  background:rgba(245,246,246,1);
}

.bas-text-red {
  color: #E55151;
}

/* container */
@media (min-width: 1680px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1500px;
  }
}

/** button start */
.bas-btn-primary {
  color:#fff !important;
  background: rgba(0,202,155,1);
  border-radius:2px;
}

.bas-btn-primary:hover {
  color:#fff;
  background: rgba(0,202,155,.95);
}

.bas-btn-secondary {
  border: 1.5px solid rgba(0,202,155,.75);
}

.bas-btn-secondary:hover {
  border: 1.5px solid rgba(0,202,155,.95);
}

.bas-btn-orange {
  color:#fff;
  background:rgba(255,174,47,1);
}

.bas-btn-green-border {
  cursor: pointer;
  color: rgba(0,202,155,.95);
  border:2px solid rgba(0,202,155,1);
  border-radius: 2px;
}

.bas-btn-green-border:hover {
  color: rgba(0,202,155,1);
  font-weight:400;
}

.bas-btn-group {
  display: inline-flex;
  justify-content: center;
  margin: 1rem auto;
}

.bas-dot {
  font-size:12px;
  border-radius: 16px;
  color: rgba(0,202,155,1);
  background-color:rgba(0,202,155,.15);
  box-shadow: 4px,4px;

}

/** button end */
.el-button--success {
  color: #FFF;
  background-color: rgba(0,202,155,1);
  border-color:rgba(0,202,155,1);
}
.el-button--success:active,.el-button--success:hover,.el-button--success:focus {
  background:rgba(0,202,155,.75);
  user-select: none!important;
  -webkit-user-select: none !important;
}


button {
  outline: none !important;
}
.bas-text-green {
  color: #00CA9B;
}

.bas-link,a.bas-link {
  cursor: pointer !important;
  color: #00CA9B;
}

.bas-link:hover,a.bas-link:hover {
  color: #00CA9B ;
  text-decoration:underline !important;
}

.bas-btn-link {
  cursor: pointer;
  color: #00CA9B;
  background: transparent;
  box-shadow: none;
  border: none;
}
.bas-btn-link:hover,.bas-btn-link:focus,.bas-btn-link:active {
  text-decoration:underline;
}

.bas-btn-link:disabled {
  color: rgba(212,216,216,1);
  text-decoration:none;
}

.bas-inline-flex {
  display: inline-flex;
  width: 100%;
}
.bas-label-100 {
  min-width: 100px;
  text-align: right;
  margin-bottom: .5rem;
}

a.bas-text-green {
  cursor: pointer;
  color: #00CA9B;
}
a.bas-text-green:hover,a.bas-text-green:active {
  color: rgba(0,202,155,.85);
  font-weight: 400;
}


.bas-text-primary {
  color:#04062E;
}

img.bas-bingo {
  height: 88px;
  width: 88px;
}

.bas-form-label {
  margin-left:1.5rem;
  font-size:1rem;
}
/* Font Css */
.bas-small {
  font-size: 14px;
}

.bas-nav-left226 {
  width: 226px;
}

.bas-form-label::after{
  content: ":"
}



.bas-green-bg {
  background-color:rgba(0,202,155,1);
}

.bas-gray-bg {
  background: rgba(245,246,246,1);
}

.bas-white-bg {
  background-color: rgba(255,255,255,1);
}

/*  card */
.bas-card {
  margin: 0 !important ;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  transition: .3s;
}
.bas-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-radius: 5px 5px 0 0;
}
.bas-card__header-title {
  padding-left: 1.375rem;
  font-size: 1.375rem;
}
.bas-border-none {
  border: none !important;
}
.bas-card__tools {
  margin-right: .5rem;
}

.bas-card__body {
  padding: 10px;
  border-left: 1px solid  rgba(235,237,237,1);
  border-right: 1px solid  rgba(235,237,237,1);
  border-bottom: 1px solid  rgba(235,237,237,1);
}

.bas-card__body--last-radius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px ;
}

.bas-card__footer {
  display: flex;
  direction: row;
  justify-content:center;
  align-items: center;
  height: 62px;
  margin-bottom: 3rem;
  border-radius: 5px 5px 0 0;
}

/** row-card-item  start */
.bas-card-item {
  width: 100%;
  margin: .5rem 0 !important;
  background:rgba(245,246,246,1);
  border: 1px solid rgba(245,246,246,1);
}

.bas-card-item__header {
  width: 100%;
  padding: .5rem ;
  display: inline-flex;
  direction: lrt;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(235,237,237,1)
}

.bas-card-item__body {
  width: 100%;
  padding: .5rem ;
  display: inline-flex;
  direction: lrt;
  justify-content: space-between;
  align-items: center;
}

.bas-card-item__header-rt {
  margin: 0 .5rem;
  padding: 0 .5rem;
}

.bas-card-item__header-rt>span {
  min-width:80px;
  margin-right: .25rem;
}

/** row-card-item  end */

.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0!important;
}

/* bas menu nav */
.bas-el-menu-item {
  text-align: center;
}
.bas-el-menu-item.is-active {
  background:rgba(0,202,155,1);
  border:1px solid rgba(0,202,155,0.3);
}

/**
 基于 element UI 扩展 el-form 用作显示面板
 see '@/view/Domain/components/RegistTransFooter.vue'
*/
.bas-el-item>label.el-form-item__label {
  line-height: 1.5rem;
}
.bas-el-item {
  margin-bottom: 0 !important;
  line-height: 1.5rem;
}

.bas-el-item> *.el-form-item__content {
  line-height: 1.25rem !important;
}

/* 基于 element UI 扩展 el-form 用作显示面板 */

/* BAS components */
.bas-inline-between {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.bas-inline-between>div:nth-last-child(1){
  margin-right: .5rem;
}

/* bas loading dot */
.bas-loading {
  float: left;
  text-align: center;
}

.bas-loader-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

.bas-loading .bas-loader-dot:nth-last-child(3) {
  margin :2px auto;
  background: rgba(255,174,47,1);
  animation: dot-down .9s .1s linear infinite;
  -webkit-animation: dot-down .9s .1s linear infinite;
}

.bas-loading .bas-loader-dot:nth-last-child(2) {
  margin :2px auto;
  background:rgba(2,184,148,1);
  animation: dot-down .9s .3s linear infinite;
  -webkit-animation: dot-down .9s .3s linear infinite;
}
.bas-loading .bas-loader-dot:nth-last-child(1) {
  margin :2px auto;
  background:rgba(242,133,82,1);
  animation: dot-down .9s .6s linear infinite;
  -webkit-animation: dot-down .9s .6s linear infinite;
}

@keyframes dot-down {
  25% {-webkit-transform: translateY(-6px);}
  0%, 50% , 100% { -webkit-transform: translateY(0)}
  75% {-webkit-transform: translateY(6px);}
}
@-webkit-keyframes dot-down {
  25% {-webkit-transform: translateY(-6px)}
  0%, 50% , 100% { -webkit-transform: translateY(0)}
  75% {-webkit-transform: translateY(6px)}
}


/* BAS dialog css begin */
.bas-dialog__wrapper {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  margin: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: rgba(0,0,0,.65);
}

.bas-dialog__metamask {
  position: relative;
  background: #fff;
  margin-bottom: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-sizing: border-box;
  width: 50%;
}

.bas-dialog__metamask-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.bas-dialog__metamask-header>span {
  padding: 10px auto 10px 10px;
}

.bas-dialog__close {
  margin: 4px 4px auto auto;
  cursor: pointer;
  opacity: .75;
}

.bas-dialog__close:hover{
  background: rgba(245,246,246,.75);
  opacity: 1;
}

.bas-dialog__metamask-body {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.bas-dialog__metamask-left {
  width: 100%;
  display: inline-block;
  text-align: justify;
  justify-content: flex-end;
  align-items: stretch;
}
.bas-dialog__metamask-left * {
  text-align: center;
}
.metamask-header-icon {
  cursor: pointer;
  display:block;
  width: 100px;
  height: 100%;
  text-align: center;
  align-items: center;
  color: rgba(246,140,36,1);
  padding: 4px;
  border-radius: 5px;
  background:rgba(245,246,246,1);
}
.metamask-icon {
  width: 60px;
}

.bas-dialog__metamask-footer {
  width: 100%;
  /* height: 30px; */
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  margin: 6px auto;
}

.metamask-login-btn {
  cursor: pointer;
  min-width: 25%;
  line-height: 40px;
  text-align: center;
  align-items: center;
  color: #fff!important;
  background:rgba(4,6,46,.75);
  border-radius:4px;
  box-shadow: none;
  box-sizing:content-box;
}

.metamask-login-btn:hover {
    background:rgba(4,6,46,.95);
}

/* bas regist-result */
.domain-regist--result-refs {
  width: 100%;
  display: inline-flex;
  align-items: stretch;
  background:rgba(255,255,255,1);
  border-radius:1px;
  border:1px solid rgba(235,237,237,1);
  justify-content: space-between;
  padding: .5rem 0 0 .5rem;
}

.result-refs-left {
  width: 75%;
}

.result-refs-right {
  display: inline-flex;
  align-items: center;
  border: none;
  background: transparent;
  align-self: flex-end;
  padding: .5rem .25rem;
}
.result-refs-right * {
  margin-right: 1rem;
  padding: .25rem 1.25rem;
}

.domain-info-inline {
  display: inline-flex;
  margin-bottom: .5rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.domain-info-type {
  margin-left: 1.5rem;
  color: #00CA9B;
  border-radius: .9rem;
  border: 1px solid #00CA9B;
  line-height: 1.5rem;
  font-size:14px;
  /* width:140px; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.domain-info-type span{
  margin: auto 1.25rem;
}
.bas-info-label {
  color:rgba(150,150,166,1);
}
.bas-info-label:after {
  content: ':';
  margin-right: .5rem;
}
.bas-info-text  {
  margin-left: .5rem;
}
.bas-refs-header {
  width: 100%;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
}
.bas-link-settings{
  margin-left: 1rem;
}
